h2 Аккордеон 1
.collapse-list
	+accordeon({
			class: "catalog-accordeon",
		})
			+accodeon-item({
				class: "active",
				head: 'Документы',
				src: "images/catalog-01.jpg"
			})
					p Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.
			+accodeon-item({
				class: "active",
				head: 'Документы - 2',
				src: "images/catalog-01.jpg"
			})
					p Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.
			+accodeon-item({
				class: "active",
				head: 'Документы - 3',
				src: "images/catalog-01.jpg"
			})
					p Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.