+include-style('brand-page')
.container
	.row
		.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12
			+tab-list
				+tab-item({
					linkname: 'О компании',
					href: '/local/templates/html/about.html'
				})
				+tab-item({
					class: 'active',
					linkname: 'Бренды',
				})
				+tab-item({
					linkname: 'Доставка и оплата'
				})
				+tab-item({
					linkname: 'Программа лояльности'
				})
				+tab-item({
					linkname: 'Био органика'
				})
				+tab-item({
					linkname: 'Блог'
				})
			.brand
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-01.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-02.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 2
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-03.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 3
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-04.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 4
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-05.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 5
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-06.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 6
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-07.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 7
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-08.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 8
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-09.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 10
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...
				.brand__item.tooltip-parent
					+lazy-img({
						img: 'images/brand-10.jpg',
						placeholder: pixel,
						img_mod: 'brand-img',
						wrap_mod: 'brand__link',
						link: true,
						href: '/local/templates/html/brand-inner-page.html',
						aria_label: true,
					})
					+tooltip-2
						b Riedenburger Brauhaus 11
						p Riedenburger Brauhaus — пивоварня в Риденбурге, в долине Альтмюль в Нижней Баварии. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье...