@import 'src/assets/css/common/components-import';
.brand {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: calc(100% + 30px);
  margin-right: -15px;
  margin-bottom: 80px;
  margin-left: -15px;
  &__item {
    width: calc(25% - 30px);
    height: 195px;
    margin: 15px;
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .tooltip-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .brand-img {
    max-width: 100%;
  }
  @media (max-width: 1024px) {
    margin-bottom: 60px;
    &__item {
      width: calc(33.3% - 30px);
      height: 100%;
    }
  }
  @media (max-width: 768px) {
    &__item {
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 575px) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    margin-left: 0;
    &__item {
      width: 100%;
      max-width: 375px;
      margin: 0 auto 20px;
    }
  }
}