@import '../../assets/css/common/components-import';
.accordeon {
  &__item {
    margin-bottom: 30px;
    transition: box-shadow .3s;
    border-radius: 22px 0px;
    background: #fff;
    box-shadow: 0px 3px 20px rgba(0, 0, 0, .08);
    &.active {
      .accordeon__head {
        .icon-wrap {
          transform: rotate(180deg);
        }
      }
    }
    &:hover {
      box-shadow: 0px 3px 5px rgba(0, 0, 0, .08);
    }
  }
  &__head {
    display: flex;
    cursor: pointer;
  }
  @media (max-width: 480px) {
    &__item {
      margin-bottom: 20px;
    }
  }
}