.rating-container {
  display: flex;
  align-items: center;
  width: 70px;
  height: 15px;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'15\' height=\'14\' fill=\'none\'%3E%3Cdefs/%3E%3Cpath fill=\'%23EBEBEB\' d=\'M6.436.732a1.168 1.168 0 012.168 0l1.125 2.74c.169.411.551.693.99.728l2.92.237c1.04.085 1.462 1.4.67 2.088l-2.225 1.93c-.335.29-.48.746-.378 1.18l.68 2.885c.242 1.029-.863 1.842-1.755 1.29l-2.5-1.546a1.161 1.161 0 00-1.223 0l-2.5 1.547c-.89.55-1.995-.262-1.753-1.291l.68-2.886a1.198 1.198 0 00-.379-1.179L.732 6.525c-.793-.688-.371-2.003.67-2.088l2.92-.237c.438-.035.82-.317.99-.728L6.435.732z\'/%3E%3Cpath fill=\'%23EBEBEB\' d=\'M6.436.732a1.168 1.168 0 012.168 0l1.125 2.74c.169.411.551.693.99.728l2.92.237c1.04.085 1.462 1.4.67 2.088l-2.225 1.93c-.335.29-.48.746-.378 1.18l.68 2.885c.242 1.029-.863 1.842-1.755 1.29l-2.5-1.546a1.161 1.161 0 00-1.223 0l-2.5 1.547c-.89.55-1.995-.262-1.753-1.291l.68-2.886a1.198 1.198 0 00-.379-1.179L.732 6.525c-.793-.688-.371-2.003.67-2.088l2.92-.237c.438-.035.82-.317.99-.728L6.435.732z\'/%3E%3C/svg%3E');
  background-repeat: repeat-x;
  background-size: 14px;
}
.rating {
  display: flex;
  align-items: center;
  &__icon {
    margin: 0;
  }
}
