+include-style('index-shops-block')
.index-shops-block
	h2.index-shops-block__title Наши магазины
	+link-arrow({
		title: 'Показать на карте'
	})
	+slider-shops
	+icon('bg-leaf-right')(style='width:400px;height:184px;stroke:#8DC63F;fill:none').left-icon