.badge {
  display: inline-block;
  height: 21px;
  padding: 0 13px;
  letter-spacing: .1em;
  text-transform: uppercase;
  border-radius: 16px 0px;
  font-size: 10px;
  font-weight: 500;
  line-height: 21px;
}
