@import '../../assets/css/common/components-import';
.btn.btn--link {
  color: #83af40;
  border: 1px solid transparent;
  background-color: transparent;
  &[disabled], &.disabled {
    color: rgba(30, 30, 30, .2) !important;
    border: solid 1px transparent !important;
    background: transparent !important;
    &:active, &:hover, &.active {
      color: rgba(30, 30, 30, .2) !important;
      border: solid 1px transparent !important;
      background-color: transparent !important;
      box-shadow: none !important;
    }
  }
  @media (max-width: $sm - 1px) {
  }
  @media (min-width: $sm) {
  }
  @media (min-width: $sm) and (max-width: $md - 1px) {
  }
  @media (max-width: $md - 1px) {
  }
  @media (min-width: $md) {
  }
  @media (min-width: $md) and (max-width: $lg - 1px) {
  }
  @media (min-width: $lg) {
  }
  @media (min-width: $lg) and (max-width: $xl - 1px) {
  }
  @media (min-width: $xl) {
    &:hover, &.active {
      color: #d15645;
      border: 1px solid transparent;
    }
    &:active {
      border: 1px solid transparent;
    }
  }
}
