.swiper-wrapper {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
       -o-transition-property:         transform;
          transition-property: -webkit-transform;
          transition-property:         transform;
          transition-property:         transform, -webkit-transform;
}
.swiper-slide {
  position: relative;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 100%;
  height: 100%;
  -webkit-transition-property: -webkit-transform;
       -o-transition-property:         transform;
          transition-property: -webkit-transform;
          transition-property:         transform;
          transition-property:         transform, -webkit-transform;
}

