+include-style('about-page')
+include-style('content')
.container
	.row
		.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12.content-bg-bottom
			+tab-list
				+tab-item({
					class: 'active',
					linkname: 'О компании',
				})
				+tab-item({
					linkname: 'Бренды',
					href: '/local/templates/html/brand.html'
				})
				+tab-item({
					linkname: 'Доставка и оплата'
				})
				+tab-item({
					linkname: 'Программа лояльности'
				})
				+tab-item({
					linkname: 'Био органика'
				})
				+tab-item({
					linkname: 'Блог'
				})
			.content
				.window-wide-block
					img(src="./images/logo-large.svg", alt="#")
				+bg-small
				h3 Компания «БиоМельница» 
				p была организована 10.05.2018 года как стартап для внедрения и развития на территории Таможенного союза и Республики Беларусь ритейла био органических продуктов со смешанным ассортиментом.
				p 24 августа в Минске на пр.Победителей, 129-329, для покупателей открыл свои двери первый био маркет сети «Vёska».
				h3 В офлайн и интернет-магазине «Vёska»
				p можно приобрести продукты питания, напитки, косметику, бытовые средства без химии, аксессуары и многое другое. Товары имеют международные сертификаты. Это самые строгие и престижные стандарты, которые гарантируют качество и чистоту всех входящих в состав ингредиентов. На плантациях не выращивают растения из генно-модифицированных семян, не используют «плохие» удобрения, в борьбе с вредителями помогают механические способы, все ингредиенты проверяют на отсутствие токсичности и биоразлагаемость. Кстати, это касается и упаковки.
				.content-img.content-img--right
					.pseudo-container
						.pseudo-bg
							.pseudo-bg__text В интернет-био маркете «Vёska» представлены товары из Германии, Италии, Великобритании, Греции, Австрии, Швейцарии, Чехии, Японии, Литвы, а также фермерские продукты из Беларуси.
							.pseudo-bg__text Для наших покупателей важен состав и качество продуктов!
				h3 Компания «БиоМельница» 
				p была организована 10.05.2018 года как стартап для внедрения и развития на территории Таможенного союза и Республики Беларусь ритейла био органических продуктов со смешанным ассортиментом. 
				p 24 августа в Минске на пр.Победителей, 129-329, для покупателей открыл свои двери первый био маркет сети «Vёska».
				h3 В офлайн и интернет-магазине «Vёska»
				p можно приобрести продукты питания, напитки, косметику, бытовые средства без химии, аксессуары и многое другое. Товары имеют международные сертификаты. Это самые строгие и престижные стандарты, которые гарантируют качество и чистоту всех входящих в состав ингредиентов. На плантациях не выращивают растения из генно-модифицированных семян, не используют «плохие» удобрения, в борьбе с вредителями помогают механические способы, все ингредиенты проверяют на отсутствие токсичности и биоразлагаемость. Кстати, это касается и упаковки. 
				p Мы первый и единственный в Беларуси био маркет такого формата, где в одном месте можно приобрести био органическую продукцию известных во всем мире производителей. Эти компании объединяет не только естественное выращивание в самых лучших местах планеты, экологичное производство, использование старинных рецептур, усовершенствованных современными технологиями, но и принципы справедливой торговли. Определение «Fair Trade» подразумевает «этичное потребление» товаров, заботу об окружающей среде, поддержку мелких фермеров, выращивающих свою продукцию без вредных веществ, честную рекламу своих продуктов и справедливую цену для потребителя.
				p Амарант, зеленая гречка, киноа и другие крупы, миндальная мука, оливки и маслины, соусы и тапенады, кофе и чай, специи, натуральные масла и уксус, чипсы из водорослей и «живые» сладости без сахара, мясные изделия, овощная колбаса и бургеры, свежая выпечка, шампуни и кремы без парабенов и сульфатов, натуральная косметика – все это и многое другое представлено в «Vёska». 
				p Еще одна отличительная особенность наших товаров – многое можно приобрести в больших и очень больших упаковках. Это помогает экономить время на покупки, правильно распределять свой бюджет, а еще - отличное решение для больших семей и жителей загородных домов. 
				p Товары можно заказать с доставкой в нашем интернет-магазине. 
				p Можно прийти за покупками также в наш уютный магазин вместе с детьми, вторыми половинками и другими близкими. 
				p В «Vёska» есть также вкусный чай, кофе с кофеином и без, мате и капучино с растительным молоком.
				+bg-wide({
					green: true,
					left_close: true,
					right: true,
				})
				include ../feedback/feedback
			include ../certificate/certificate
