@import '../../assets/css/common/components-import';

.index-slider-product-1 {
	position: relative;
	
	&__right-bg-wrap {
		position: absolute;
		top: 20%;
		left: 90%;
		width: 100%;
		max-width: 320px;
		height: 154px;
	}
	.tab {
		&__link {
			font-size: 36px;
			font-weight: bold;
		}
	}
	@media (max-width: 1600px) {
		&__right-bg-wrap {
			top: 13%;
			left: 75%;
		}
	}
	@media (max-width: 768px) {
		&__right-bg-wrap {
			display: none;
		}
		.tab {
			&__link {
				font-size: 18px;
				font-weight: bold;
			}
		}
	}
}