+include-style('brand-inner-page')
+include-style('content')
//- .content-img.content-img--center
//- 	img(src="./images/blog-01-big.jpg", alt="#")
p Riedenburger Brauhaus — пивоварня в нижнем баварском городе Риденбург в долине Альтмюль. Пивоварня была куплена семьей Кригер в 1866 году и является пятым поколением, принадлежащим семье. При штатной численности около 30 человек ежегодно производится около 30 000 гектолитров пива. Пиво распространяется по всей Германии и в 17 странах мира. С 1994 года пивоварня производилась исключительно с экологической точки зрения.
h3 История
p Пивоварня Riedenburger — одна из первых пивоварен, которая начала производить пшеничное пиво. В то время под названием пивоварни Unterkrieger пшеница Riedenburg стала лидером рынка в регионе.
p В 1989 году компания начала ориентировать свое производство в соответствии с экологическими нормами (Bioland). В 1994 году пивоварня полностью переоборудовала свое производство на органическое, сделав его первым пивоваренным заводом в Баварии, который будет производить пиво в соответствии с экологическими нормами. Естественно, что для производства пива используется только сырье из экологического возделывания.
p Пивоварня не фильтрует пиво с 1997 года, чтобы сохранить его натуральным. В 1997 году было также завершено сотрудничество с монастырем Планкштеттен. С тех пор риденбургский пивоваренный завод использовал ячмень, полбы, пшеницу, эйнкорн и эммер из экологически сертифицированного сельского хозяйства монастыря. Riedenburger Brauhaus — одно из немногих сортов пива со старыми злаками Эйнкорн и Эммер. Компания производит следующую продукцию:

h3 Безалкогольное пиво
a(href="#") RIED. Dinkel Alkoholfrei
br
br
a(href="#") RIED. Dinkel Malz Alkoholfrei
br
br
a(href="#") RIED. Dinel Radler Alkoholfrei
br
br
a(href="#") RIED. Weizen Alkoholfrei
br
br
a(href="#") RIED. Alkoholfrei
br
br
h3 Безалкогольные напитки
a(href="#") PURE Holunder-Ingwer (Biolimo)
br
br
a(href="#") PURE Bitter Orange (Biolimo)
br
br
a(href="#") PURE Kirsche-Aronia (Biolimo)
br
br
a(href="#") PURE Rhabarber-Cassis (Biolimo)
br
br
a(href="#") Plankstettener Apfelschorle
br
br
