// .file {
//   position: relative;
//   display: block;
//   margin-bottom: 28px;
//   padding: 0 0 0 32px;
//   letter-spacing: normal;
//   color: #005bab;
//   font-family: Arial, Verdana, sans-serif;
//   font-size: 14px;
//   font-weight: normal;
//   font-style: normal;
//   font-stretch: normal;
//   line-height: 1.43;
// }
// .file-img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 24px;
//   height: 24px;
// }
