+include-style('certificate')
.certificate
	+bg-wide({
		left_close: true,
		right: true,
	})
	.certificate__title
		h2 Наши сертификаты
	.certificate__body
		.certificate__item
			a(href="#" target='_blank' aria-label='скачать').certificate__link H2624_BIOTUSCANY S.R.L. _155269_CO_27052019_.pdf
		.certificate__item
			a(href="#" target='_blank' aria-label='скачать').certificate__link BCS 2018 EN valid until 01_31_2020 coloured.pdf
		.certificate__item
			a(href="#" target='_blank' aria-label='скачать').certificate__link 2019_Demeter Urkunde + Sortimentsliste englisch.pdf
		.certificate__item
			a(href="#" target='_blank' aria-label='скачать').certificate__link Beutelsbacher HACCP Summary CCP's_09.2018.pdf
		.certificate__item
			a(href="#" target='_blank' aria-label='скачать').certificate__link Al_ALIS certificato IFS LOGISTIC exp 25_01_2020.pdf
		.certificate__item
			a(href="#" target='_blank' aria-label='скачать').certificate__link BFK-Bio-Zert. engl. 2019-2021.pdf