
+include-style('search-page')
.search-section
	.c_search
		.search
			form(name='frm-search', method='get', action='', onsubmit="")
				input(type='hidden', name='tags', value='')
				input(type='hidden', name='how', value='r')
				fieldset.field
					.wrap
						input#searchinp-long.input.form-control(type='text', title='Поиск по сайту', value='о нас', placeholder='Поиск по сайту', name='q', maxlength='150')
					.submit
						label
							button(name='btn-search', type='submit')
								+icon('search')(width='20' height='20')
			.clear
		noindex
			p.search-result Найдено: 207
		.search-result К сожалению, на ваш поисковый запрос ничего не найдено.

			ol.search-list(start='1', style='counter-reset: list 0;')
				li.item
					.wrap
						.title
							a(href='#')
								| С
								b нас
								| тупающим Н
								b о
								| вым Г
								b о
								| д
								b о
								| м и Р
								b о
								| ждеств
								b о
								| м!
						.text
							| ...
							b нас
							| тупающим Н
							b о
							| вым Г
							b о
							| д
							b о
							| м и Р
							b о
							| ждеств
							b о
							| м!
							| Желаем, чт
							b о
							| бы эт
							b о
							| т чудесный праздник п
							b о
							| дарил Вам т
							b о
							| льк
							b о
							|  сам
							b о
							| е лучшее -
							| рад
							b о
							| сть, крепк
							b о
							| е зд
							b о
							| р
							b о
							| вье, велик
							b о
							| лепн
							b о
							| е
							b нас
							| тр
							b о
							| ение и жизнь,
							| нап
							b о
							| лненную смысл
							b о
							| м, тепл
							b о
							| м и уд
							b о
							| в
							b о
							| льствием!
							| Пусть удача и х
							b о
							| р
							b о
							| шее
							b нас
							| тр
							b о
							| ение ник
							b о
							| гда не перестанут быть ряд
							b о
							| м с Вами,...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| Гл
								b о
								| бальная сеть сельск
								b о
								| х
								b о
								| зяйственн
								b о
								| г
								b о
								b нас
								| ледия ФА
								b О
								|  теперь
								b нас
								| читывает 50 уникальных ландшафт
								b о
								| в: названы н
								b о
								| вые уникальные
								b о
								| бъекты
						.text
							| Названы н
							b о
							| вые уникальные
							b о
							| бъекты сельск
							b о
							| х
							b о
							| зяйственн
							b о
							| г
							b о
							b нас
							| ледия
							| Гл
							b о
							| бальная сеть сельск
							b о
							| х
							b о
							| зяйственн
							b о
							| г
							b о
							b нас
							| ледия ФА
							b О
							|  теперь
							b нас
							| читывает 50 уникальных ландшафт
							b о
							| в
							| 13 н
							b о
							| вых ландшафт
							b о
							| в были признаны ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| Пр
								b о
								| дажи с
								b о
								| нлайн-кассами: т
								b о
								| рг
								b о
								| вля будущег
								b о
								|  стан
								b о
								| вится
								b нас
								| т
								b о
								| ящим
						.text
							| .... Н
							b о
							|  все пр
							b о
							| блемы решаемы — был
							b о
							|  бы желание. Например, сети магазин
							b о
							| в re:Store удал
							b о
							| сь внедрить н
							b о
							| вую касс
							b о
							| вую технику п
							b о
							|  всей сети зад
							b о
							| лг
							b о
							|  д
							b о
							b нас
							| тупления дня X. Кстати, внедрение н
							b о
							| в
							b о
							| й техники —
							b о
							| тличный п
							b о
							| в
							b о
							| д п
							b о
							| -н
							b о
							| в
							b о
							| му взглянуть на р
							b о
							| зничные бизнес-пр
							b о
							| цессы. Как и н
							b о
							| вые в
							b о
							| зм
							b о
							| жн
							b о
							| сти,...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| РитейлМаркетингу сег
								b о
								| дня 10 лет! И у
								b нас
								|  прекрасный в
								b о
								| зраст, мы считаем :)
						.text
							| ... г
							b о
							| рдая к
							b о
							| мпания.
							| Сег
							b о
							| дня мы выражаем благ
							b о
							| дарн
							b о
							| сть нашим партнерам и к
							b о
							| ллегам за эт
							b о
							| т немалый пери
							b о
							| д времени, пр
							b о
							| веденный вместе.
							| Эт
							b о
							|  был
							b о
							b нас
							| ыщенн
							b о
							| , ярк
							b о
							|  и местами весьма захватывающе.
							| - Десятки пр
							b о
							| веденных наци
							b о
							| нальных и междунар
							b о
							| дных к
							b о
							| нференций;
							| - С
							b о
							| тни спр
							b о
							| ектир
							b о
							| ванных ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| Беларусь лидирует в СНГ п
								b о
								|  пр
								b о
								| изв
								b о
								| дству карт
								b о
								| феля, мяса, м
								b о
								| л
								b о
								| ка и яиц на душу
								b нас
								| еления
						.text
							| ... сег
							b о
							| дня
							b нас
							| читывает 64 страны мира.
							b О
							| сн
							b о
							| вным п
							b о
							| требителем бел
							b о
							| русск
							b о
							| й пр
							b о
							| дукции является Р
							b о
							| ссийская Федерация.
							| Ист
							b о
							| чник:
							| ЕЖЕДНЕВНИК
							| .
							b Нас
							| т
							b о
							| ящим к
							b о
							| мпания «Retailmarketing.by» разрешает в
							b о
							| спр
							b о
							| изведение в прессе
							b о
							| публик
							b о
							| ванных на п
							b о
							| ртале
							| www.retailmarketing.by
							| н
							b о
							| в
							b о
							| стных статей, прав
							b о
							| обладателем ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| ДИРЕКТ
								b О
								| Р МАГАЗИНА 2020
						.text
							| ... с
							b о
							| пр
							b о
							| в
							b о
							| ждением
							| деятельн
							b о
							| сти
							| крупных р
							b о
							| зничных к
							b о
							| мпаний: 2008 – 2016 г
							b о
							| ды - начальник юридическ
							b о
							| г
							b о
							b о
							| тдела С
							b О
							| О
							b О
							|  «Баниар»
							| (т
							b о
							| рг
							b о
							| вая сеть «BIGZZ»);
							| с 2016 п
							b о
							b нас
							| т
							b о
							| ящее время - начальник юридическ
							b о
							| г
							b о
							b о
							| тдела, а затем рук
							b о
							| в
							b о
							| дитель
							| департамента прав
							b о
							| в
							b о
							| г
							b о
							b о
							| беспечения
							| и управления недвижим
							b о
							| стью ЗА
							b О
							|  ...
						.link
							| Найдено в разделе
							a(href='#') Технологии розничной торговли
				li.item
					.wrap
						.title
							a(href='#')
								| Иг
								b о
								| рь Чумарин
						.text
							| ... п
							b о
							| терь с 20-летним стажем.
							| Текущие к
							b о
							| мпетенции:
							b О
							| птимизация бизнес-пр
							b о
							| цесс
							b о
							| в т
							b о
							| рг
							b о
							| в
							b о
							| й сети для
							b о
							| беспечения с
							b о
							| хранн
							b о
							| сти ценн
							b о
							| стей;
							| Аудит и
							b нас
							| тр
							b о
							| йка систем без
							b о
							| пасн
							b о
							| сти и пред
							b о
							| твращения п
							b о
							| терь в л
							b о
							| гистике,
							b о
							| пт
							b о
							| в
							b о
							| й и р
							b о
							| зничн
							b о
							| й т
							b о
							| рг
							b о
							| вле;
							| Разраб
							b о
							| тка стандарт
							b о
							| в и регламент
							b о
							| в п
							b о
							|  без
							b о
							| пасн
							b о
							| сти ...
						.link
							| Найдено в разделе
							a(href='#') Эксперты
				li.item
					.wrap
						.title
							a(href='#')
								| Р
								b о
								| зничный пр
								b о
								| ект «Смарт
								b о
								| ри» (ф
								b о
								| рмат клубмаркет) Льва Хасиса
								b о
								| стан
								b о
								| вил раб
								b о
								| ту
						.text
							| ... закуп
							b о
							| чные
							b о
							| бъемы, указывает
							b о
							| н. Сеть
							b о
							| риентир
							b о
							| вана на пр
							b о
							| дажу т
							b о
							| льк
							b о
							|  «самых п
							b о
							| пулярных т
							b о
							| вар
							b о
							| в п
							b о
							|  выг
							b о
							| дным ценам», сказан
							b о
							|  на ее сайте. Сейчас
							b о
							| на
							b нас
							| читывает четыре т
							b о
							| рг
							b о
							| вых центра: три из них расп
							b о
							| л
							b о
							| жены в Санкт-Петербурге, а лет
							b о
							| м 2018 г
							b о
							| да сеть вышла в ст
							b о
							| личный реги
							b о
							| н,
							b о
							| ткрыв т
							b о
							| рг
							b о
							| вый ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| Пр
								b о
								| д
								b о
								| в
								b о
								| льственная и сельск
								b о
								| х
								b о
								| зяйственная
								b о
								| рганизация
								b О
								| ОН (ФА
								b О
								| )
						.text
							| ... аквакультура, Лесн
							b о
							| е х
							b о
							| зяйств
							b о
							| , Управление прир
							b о
							| дными ресурсами и
							b о
							| кружающая среда и Техническ
							b о
							| е с
							b о
							| трудничеств
							b о
							| .
							| П
							b о
							|  с
							b о
							| ст
							b о
							| янию на 15 июня 2013 г
							b о
							| да в ФА
							b О
							b нас
							| читывал
							b о
							| сь 197 член
							b о
							| в: 194 г
							b о
							| сударства-члена, 1
							b о
							| рганизация-член (Евр
							b о
							| пейский с
							b о
							| юз) и 2 асс
							b о
							| циир
							b о
							| ванных члена (Фарерские
							b о
							| стр
							b о
							| ва и Т
							b о
							| келау)....
						.link
							| Найдено в разделе
							a(href='#') Партнеры компании
				li.item
					.wrap
						.title
							a(href='#')
								| Р
								b о
								| зничный т
								b о
								| вар
								b о
								| об
								b о
								| р
								b о
								| т в Беларуси в январе-июле выр
								b о
								| с на 9,6%
						.text
							| ... т
							b о
							| вар
							b о
							| об
							b о
							| р
							b о
							| т с
							b о
							| ставил Br51,9 млрд, или в с
							b о
							| п
							b о
							| ставимых ценах 106,7% к ур
							b о
							| вню анал
							b о
							| гичн
							b о
							| г
							b о
							|  пр
							b о
							| шл
							b о
							| г
							b о
							| днег
							b о
							|  пери
							b о
							| да.
							b О
							| дн
							b о
							| дневный р
							b о
							| зничный т
							b о
							| вар
							b о
							| об
							b о
							| р
							b о
							| т в расчете на душу
							b нас
							| еления с начала г
							b о
							| да с
							b о
							| ставил Br12,3 пр
							b о
							| тив Br11 за анал
							b о
							| гичный пери
							b о
							| д предыдущег
							b о
							|  г
							b о
							| да.
							| Р
							b о
							| зничный т
							b о
							| вар
							b о
							| об
							b о
							| р
							b о
							| т
							b о
							| рганизаций т
							b о
							| рг
							b о
							| вли, на ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| ЕАЭС и СНГ
								b о
								| бъединят усилия п
								b о
								|  защите прав п
								b о
								| требителей
						.text
							| ... для защиты прав п
							b о
							| требителей,
							b о
							| беспечения без
							b о
							| пасн
							b о
							| сти пр
							b о
							| дукции, п
							b о
							| вышения к
							b о
							| нкурент
							b о
							| сп
							b о
							| с
							b о
							| бн
							b о
							| сти д
							b о
							| бр
							b о
							| с
							b о
							| вестных пр
							b о
							| изв
							b о
							| дителей и ур
							b о
							| вня жизни
							b нас
							| еления, – сказал Валерий К
							b о
							| решк
							b о
							| в. –
							b О
							| пыт и практика, п
							b о
							| лученные в рамках С
							b о
							| дружества Независимых Г
							b о
							| сударств, – пр
							b о
							| чная
							b о
							| сн
							b о
							| ва для защиты ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| "М
								b о
								| жн
								b о
								|  есть немытую". Как владельцы "К
								b о
								| нте Спа" вл
								b о
								| жили милли
								b о
								| н в эк
								b о
								| ферму и растят клубнику без химии
						.text
							| ... уверен бизнесмен.
							| Яг
							b о
							| ды крупные, ар
							b о
							| матные, сладкие — действительн
							b о
							b о
							| чень вкусн
							b о
							| .
							| Вмест
							b о
							|  химии с клубничными вредителями здесь б
							b о
							| рются
							b нас
							| т
							b о
							| йками из трав, чесн
							b о
							| ка, п
							b о
							| лыни, крапивы.
							| — В эт
							b о
							| м г
							b о
							| ду вредителей нет, н
							b о
							|  мы ставим эксперименты, ищем препараты би
							b о
							| л
							b о
							| гическ
							b о
							| г
							b о
							|  плана, — д
							b о
							| бавляет ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| Р
								b о
								| зничный т
								b о
								| вар
								b о
								| об
								b о
								| р
								b о
								| т в Беларуси в I п
								b о
								| луг
								b о
								| дии выр
								b о
								| с на 9,9% и с
								b о
								| ставил Br21 млрд
						.text
							| ... т
							b о
							| вар
							b о
							| об
							b о
							| р
							b о
							| т с
							b о
							| ставил Br44,4 млрд, или в с
							b о
							| п
							b о
							| ставимых ценах 106,8% к ур
							b о
							| вню анал
							b о
							| гичн
							b о
							| г
							b о
							|  пр
							b о
							| шл
							b о
							| г
							b о
							| днег
							b о
							|  пери
							b о
							| да.
							b О
							| дн
							b о
							| дневный р
							b о
							| зничный т
							b о
							| вар
							b о
							| об
							b о
							| р
							b о
							| т в расчете на душу
							b нас
							| еления с начала г
							b о
							| да с
							b о
							| ставил Br12,2 пр
							b о
							| тив Br10,9 за анал
							b о
							| гичный пери
							b о
							| д предыдущег
							b о
							|  г
							b о
							| да.
							| Р
							b о
							| зничный т
							b о
							| вар
							b о
							| об
							b о
							| р
							b о
							| т
							b о
							| рганизаций т
							b о
							| рг
							b о
							| вли, на ...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| В Беларусь прих
								b о
								| дит французская сеть стр
								b о
								| ительных гипермаркет
								b о
								| в Leroy Merlin
						.text
							| ... пр
							b о
							| даже т
							b о
							| вар
							b о
							| в для стр
							b о
							| ительства,
							b о
							| тделки и
							b о
							| бустр
							b о
							| йства д
							b о
							| ма, дачи и сада. Т
							b о
							| рг
							b о
							| вая сеть
							b о
							| бъединяет б
							b о
							| лее 400 магазин
							b о
							| в в
							b о
							|  всем мире. В Р
							b о
							| ссии
							b нас
							| читывается 77 магазин
							b о
							| в Leroy Merlin, в П
							b о
							| льше — 48, в Испании — 60, в Италии — 47, в
							b о
							|  Франции — 129. Также сеть представлена в Бразилии, П
							b о
							| ртугалии,...
						.link
							| Найдено в разделе
							a(href='#') Новости
				li.item
					.wrap
						.title
							a(href='#')
								| Чт
								b о
								|  так
								b о
								| е AgroKor и п
								b о
								| чему
								b о
								| н важен для Х
								b о
								| рватии
						.text
							| ... р
							b о
							| ссийских банка п
							b о
							| лучили п
							b о
							| чти 50% д
							b о
							| ли актив
							b о
							| в
							| П
							b о
							| требительский рын
							b о
							| к Х
							b о
							| рватии
							| Республика Х
							b о
							| рватия -
							b о
							| дна из стран участниц Евр
							b о
							| пейск
							b о
							| г
							b о
							|  С
							b о
							| юза,
							b нас
							| еление к
							b о
							| т
							b о
							| р
							b о
							| й с
							b о
							| ставляет чуть б
							b о
							| лее 4 милли
							b о
							| н
							b о
							| в чел
							b о
							| век. ВВП Х
							b о
							| рватии (п
							b о
							|  паритету п
							b о
							| купательск
							b о
							| й сп
							b о
							| с
							b о
							| бн
							b о
							| сти) - 87,300 млрд. д
							b о
							| лл. (2014 г
							b о
							| д),...
						.link
							| Найдено в разделе
							a(href='#') Новости
			.page-count
				.pagination.text-center
					ul.list-reset
						li.disabled
							+icon('arrow-pagination-left')(width='20' height='20')
						li.active
							a(href='#')
								| 1
								span.sr-only (current)
						li
							a(href='#') 2
						li
							a(href='#') 3
						li
							a(href='#') 4
						li
							a(href='#') 5
						li
							a.modern-page-dots(href='#') ...
						li
							a(href='#') 14
						li
							+icon('arrow-pagination-right')(width='20' height='20')
