@import 'src/assets/css/common/components-import';
.page-header-section {
  margin: 0 0 20px;
}
.page-header-title {
  margin: 0 !important;
}

@media (min-width: $lg) {
  .page-header-section {
    margin: 0 0 40px;
  }
}
