+include-style('blog-inner-page')
+include-style('content')
.content-img.content-img--center
	img(src="./images/blog-01-big.jpg", alt="#")
p Для многих гранола стала неотъемлемой частью полезного завтрака. Неудивительно, потому что можно насладиться гранолой с йогуртом и молоком, чаем или кофе.
p И все-таки гранола все еще вызывает определенные вопросы. Давайте разбираться по порядку.
h3 Что такое гранола?
p Большинство из нас, вероятно, слышали термин гранола раньше. Гранола есть не что иное, как домашние хрустящие мюсли. Изобретатель — американский сотрудник санатория Джеймс Калеб Джексон, который решил подать на стол пациентам здоровый и вкусный завтрак. Гранола долгое время была популярным и калорийным завтраком именно в Соединенных Штатах.
p Типичный американский вариант состоит из запеченной овсяной муки с большим количеством сахара и меда. Конечно, есть и более здоровые варианты гранолы. Например, сахар заменяют на финики.
h3 Как появляется хруст в граноле?
p Хруст связан со связующими элементами, так называем «клеем». Здесь можно использовать мед, сироп агавы или кленовый сироп. Затем требуется маслянистый компонент. Кокосовое масло имеет особенно приятный вкус. Чтобы сделать все это приятно хрустящим, поставьте овсянку в духовку. Смешайте сухие ингредиенты с кокосовым маслом, орехами, семенами и сладостью. Затем нужно выложить все это на противень, выстланный бумагой для выпечки.
p Температура 180 градусов идеальна, в течение 15 минут, с верхним и нижним нагревом. Если вы хотите, чтобы результат был как можно более равномерным, следует перевернуть хрустящие хлопья. Теперь дайте запеченной овсяной каше остыть. Хранить хрустящие хлопья можно в течение нескольких недель.
h3 Насколько полезны хрустящие мюсли?
p Конечно, все зависит от производства. Независимо от того, являются ли это готовые мюсли или самодельные. Согласитесь, в любом из вариантов, добавление невероятного количества сахара сделает гранолу калорийной бомбой.
.content-img.content-img--center 
	img(src="./images/blog-04.jpg", alt="#")
h3 Из чего приготовить гранолу?
p Здесь решает личный вкус: овсяные и кокосовые хлопья, киноа, кунжут, семена подсолнечника или орехи кешью. Добавки могут быть абсолютно любыми.
p Конечно, специи также не должны отсутствовать ни в коем случае. Самая важная специя — корица. Кроме того, можно добавить щепотку соли и куркумы.
h3 Хрустящие зерновые варианты от Verival
p Если вы не хотите делать мюсли самостоятельно, вы можете использовать разнообразные хрустящие мюсли Verival.
p Австрийский производитель Verival обрабатывает ингредиенты высочайшего качества, которые сертифицированы как органические.
p Основа мюсли состоит из овса, пшеницы, ячменя или полбы. Все это дополнено сублимированными фруктами. Орехи, мед и шоколад также можно найти в хрустящих мюсли. Сладость добавляется мюслям с небольшим количеством меда и тростникового сахара. Из-за большого разнообразия вариантов есть что-то для всех вкусов.
h3 Вот только некоторые из них:
a(href="#") Черника и яблоко 
br
br
a(href="#") Овес
br
br
a(href="#") Шоколад
br
br
a(href="#") Апельсин и ацерола 
br
br
a(href="#") Спельта
br
br
a(href="#") Медовые мюсли
br
br
a(href="#") Фрукты
		