mixin contact(args={})
	+include-style('contact')
	.contact-nav
		.contact-nav__item
			+icon('clock')(style='width: 20px; height: 20px;')
			span.contact-nav__link Ежедневно с 10:00–21:00
		.contact-nav__item
			+icon('i-mtc')(style='width: 20px; height: 20px;')
			a(href='#').contact-nav__link +375 (29) 646-16-16
		.contact-nav__item
			+icon('i-a1')(style='width: 20px; height: 20px;')
			a(href='#').contact-nav__link +375 (29) 646-16-16
		.contact-nav__item
			+icon('i-life')(style='width: 20px; height: 20px;')
			a(href='#').contact-nav__link +375 (29) 646-16-16
		.contact-nav__item
			+icon('i-tel-filled')(style='width: 20px; height: 20px;')
			a(href='#').contact-nav__link +375 (17) 388-00-82
		.contact-nav__item
			+icon('i-email')(style='width: 20px; height: 20px;')
			a(href='#').contact-nav__link info@veska.shop
