+include-style('social-auth')
.social-auth-wrap
	.social-auth-title Войти используя соцсети
	.social-auth-list

		.social-auth-col
			.btn.btn-outline.social-auth
				+icon('vk').social-auth__icon
		.social-auth-col
			.btn.btn-outline.social-auth
				+icon('vk').social-auth__icon
		.social-auth-col
			.btn.btn-outline.social-auth
				+icon('vk').social-auth__icon
