.social-auth-list {
  display: flex;
  align-items: center;
  margin: 0 -4px;
}
.social-auth-col {
  width: 33.333333333%;
  padding: 0 4px;
}
.social-auth-title {
  margin: 0 0 24px;
  text-align: center;
  color: #000;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  line-height: 16px;
}
.social-auth__icon {
  fill: #83af40;
}
