@import 'src/assets/css/common/components-import';
header {
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  // height: 80px;
  transition: color .5s, box-shadow .5s;
  &.header-fixed {
    position: fixed;
    z-index: $zindex-fixed;
    width: 100%;
    transition: box-shadow .5s;
    background: rgba(147, 126, 129, 80);
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,.5);
    // transition: box-shadow .3s;
  }
  .container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .logo {
  }
}


