//- +include-style('basket-small')
.basket-small
	.basket-small__empty-container.hidden
		.title Корзина пуста
		span Воспользуйтесь поиском, чтобы найти всё что нужно. Если в корзине были товары – <a href='#' aria-label='Войдити'>войдите</a>, чтобы посмотреть список.
	.basket-small-container
		
		.basket-small__product-list
			+product-card({
				src: './images/prod-01.jpg',
				status: true,
				code: 'Код: 4744481010818',
				title: 'Амарант, зеленая гречка, киноа и другие крупы, миндальная мука, оливки и маслины, соусы и тапенады, кофе и чай, специи, натуральные масла и уксус, чипсы из водорослей и «живые» сладости без сахара, мясные изделия, овощная колбаса и бургеры, свежая выпечка, шампуни и кремы без парабенов и сульфатов, натуральная косметика – все это и многое другое представлено в «Vёska». Амарант, зеленая гречка, киноа и другие крупы, миндальная мука, оливки и маслины, соусы и тапенады, кофе и чай, специи, натуральные масла и уксус, чипсы из водорослей и «живые» сладости без сахара, мясные изделия, овощная колбаса и бургеры, свежая выпечка, шампуни и кремы без парабенов и сульфатов, натуральная косметика – все это и многое другое представлено в «Vёska».',
				price: '500,20 р.',
				sale: '600,20 р.',
				total: '1 500,60 р.'
			})

			+product-card({
				src: './images/prod-09.jpg',
				status: true,
				code: 'Код: 4744481010818',
				title: 'Рисовые хлебцы с молочным шоколадом, 34г',
				favourite: true,
				price: '8,98 р.',
				total: '26,94 р.'
			})

			+product-card({
				src: './images/prod-08.jpg',
				status: false,
				code: 'Код: 4744481010818', 
				title: 'Консервы пастеризованные. Бульон куриный жидкий Консервы пастеризованные, 350 мл',
				price: '12.3',
				sale: '',
				qty_backet: '',
				total: '-'
			})

			+product-card({
				src: './images/prod-07.jpg',
				status: true,
				code: 'Код: 4744481010818',
				title: 'Консервы пастеризованные. Бульон куриный жидкий, 350 мл',
				price: '1 099,99 р.',
				sale: '5 000 р.',
				qty_backet: '3',
				label_sale: 'Акция 50%',
				total: '3 099,99 р.'
			})

			+product-card({
				src: './images/prod-06.jpg',
				status: true,
				code: 'Код: 4744481010818', 
				title: 'Консервы пастеризованные.',
				price: '999,99 р.',
				qty_backet: '1',
				total: '999,99 р.'
			})
		.basket-small__detail
			.basket-small__detail-item
				span Выбрано товаров:
				.total 25 шт.
			.basket-small__detail-item
				span За все:
				.total 555 000 256.00 р.
		.btn-wrap
			.empty-recycle-bin
				span Очистить
			a.btn.btn--primary Перейти в корзину