+include-style('news-pannel')
.news-pannel
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак.'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-02.jpg',
			date: '12 июня 2020',
			title: 'Нужно ли использовать солнцезащитные средства в помещении? Вопросы и ответы.'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-03.jpg',
			date: '12 июня 2020',
			title: 'Растительное молоко или напиток?'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01-big.jpg',
			date: '12 июня 2020',
			title: 'Нужно ли использовать солнцезащитные средства в помещении? Вопросы и ответы. Нужно ли использовать солнцезащитные средства в помещении? Вопросы и ответы. Нужно ли использовать солнцезащитные средства в помещении? Вопросы и ответы.'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})
	.news-pannel__item
		+news-card({
			src: './images/blog-01.jpg',
			date: '12 июня 2020',
			title: 'Гранола: хрустящие мюсли на завтрак'
		})