@import 'src/assets/css/common/components-import';
.news-pannel {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 30px);
  margin-top: 40px;
  margin-right: -15px;
  margin-bottom: 40px;
  margin-left: -15px;
  &__item {
    width: calc(33.3% - 30px);
    margin: 15px;
  }
  @media (max-width: 1024px) {
    &__item {
      width: calc(50% - 30px);
    }
  }
  @media (max-width: 575px) {
    width: 100%;
    margin-top: 30px;
    margin-right: 0;
    margin-left: 0;
    &__item {
      width: 100%;
      margin: 0 auto 20px auto;
    }
  }
}