+include-style('feedback')
.feedback
	//- +bg-wide({
	//- 	green: true,
	//- 	left: true,
	//- 	right_close: true,
	//- })
	.feedback__title 
		h2 Отзывы о нас
	+feedback-item({
		src: '',
		date: '12 июня 2020',
		reiting: '5',
		name: 'Мария Витберг',
		body: 'Давно пора было открыть такой магазин. Жаль, что в других магазинах не продаются такие качественные товары, спасибо за то, что вы появились!'
	})
	+feedback-item({
		src: '/images/man.jpg',
		date: '12 июня 2020', 
		reiting: '4',
		name: 'Иван',
		body: 'Спасибо Veske. Отличное обслуживание.Товар доставили в указанный день и даже в указанное время. Расхождение по времени 10мин. Очень внимательные водитель и курьер. Спасибо Veske. Отличное обслуживание.Товар доставили в указанный день и даже в указанное время. Расхождение по времени 10мин. Очень внимательные водитель и курьер. Спасибо Veske. Отличное обслуживание.Товар доставили в указанный день и даже в указанное время. Расхождение по времени 10мин. Очень внимательные водитель и курьер. Спасибо Veske. Отличное обслуживание.Товар доставили в указанный день и даже в указанное время. Расхождение по времени 10мин. Очень внимательные водитель и курьер.'
	})
	+feedback-item({
		src: '',
		date: '12 июня 2020',
		reiting: '1',
		name: 'Юлия Викторовна Юлия Викторовна',
		body: 'Покупали Миндальное масло. Магазин супер. Отдельное спасибо сотрудникам доставки. Будем обращаться еще. Удачи. Спасибо.'
	})
	.btn-wrap
		a(href='#' aria-label='Оставить отзыв').btn.btn--primary.btn--large Оставить отзыв
		a(href='#' aria-label='Показать еще').btn.btn--outline.btn--large Показать еще 10