@import 'src/assets/css/common/components-import';

.content {
	ol:not(.list-reset), ul:not(.list-reset) {
		margin: 0 0 25px;
		li {
			position: relative;
			padding: 0 0 0 34px;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 22px;
			color: #282828;
			margin: 0 0 13px;
		}

		li > ul, li > ol {
			padding: 12px 0 0 0;
		}
	}

	ul:not(.list-reset) {
		& > li {

			&:before {
				content: '';
				width: 12px;
				height: 12px;
				background-color: #8DC63F;
				border: 1px solid #8DC63F;
				position: absolute;
				top: 6px;
				left: 2px;
				transform: rotate(45deg);
				box-sizing: border-box;
			}
		}
	}

	ol:not(.list-reset) {

		counter-reset: list;
		list-style: none;

		& > li {
			&:before {
				content: counters(list, ".")'.';
				counter-increment: list;
				transform: none;
				display: inline-block;
				font-style: normal;
				font-weight: bold;
				font-size: 18px;
				color: #38AC36;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	ol:not(.list-reset) {
		& > li {
			& > ol:not(.list-reset) {
				li {
					padding: 0 0 0 45px;
					& > ol:not(.list-reset) {
						li {
							padding: 0 0 0 60px;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $sm - 1px) {

}


@media (min-width: $sm) {

}

@media (min-width: $sm) and (max-width: $md - 1px) {

}

@media (max-width: $md - 1px) {

}

@media (min-width: $md) {

}

@media (min-width: $md) and (max-width: $lg - 1px) {

}

@media (min-width: $lg) {
	.content {
		ul:not(.list-reset), ol:not(.list-reset) {
			margin: 0 0 20px;
			li {
				font-size: 15px;
				line-height: 24px;
			}
		}

	}
}

@media (min-width: $lg) and (max-width: $xl - 1px) {

}

@media (min-width: $xl) {

}


@import "--light";
