+include-style('search-result')

.title-search-result
	.title-search-item.title-search-item__simple
		a(href='/catalog/dlya-veganov/sneki/khlebtsy/')
			img(src='#')
			b Хлеб
			| цы
	.title-search-item.title-search-item__simple
		a(href='/catalog/dlya-veganov/khleb-i-vypechka/khlebtsy/')
			img(src='#')
			b Хлеб
			| цы
	.title-search-item.title-search-item__simple
		a(href='/catalog/dlya-veganov/khleb-i-vypechka/')
			img(src='#')
			b Хлеб 
			|  и выпечка
	.title-search-item.title-search-item__simple
		a(href='/catalog/eko-eda/khleb-i-vypechka/khleb/')
			img(src='#')
			b Хлеб
	.title-search-item.title-search-item__simple
		a(href='/catalog/eko-eda/khleb-i-vypechka/')
			img(src='#')
			b Хлеб 
			|   и выпечка
	.title-search-item.title-search-item__simple
		a(href='/catalog/eko-eda/sneki/khlebtsy/')
			img(src='#')
			b Хлеб
			| цы
	.title-search-item.title-search-item__simple
		a(href='/catalog/eko-eda/khleb-i-vypechka/khlebtsy/')
			img(src='#')
			b Хлеб
			| цы
	.title-search-item.title-search-item__simple
		a(href='#')
			img(src='./images/prod-02.jpg')
			| риправа для хлебобулочных изделий 50г
	.title-search-separator
	.title-search-item
		a(href='#')
			img(src='./images/prod-06.jpg')
			| Приправа для хлебобулочных изделий 50г
		span.item_articul Код: 5902768527506
		span.item_price 3004.68 руб.
		span.item_store В наличии
	.title-search-item
		a(href='#')
			img(src='./images/prod-03.jpg')
			| Консервы пастеризованные. Бульон куриный жидкий "Азиатский"., 350мл
		span.item_price 50.00 руб.
		span.item_store В наличии
	.title-search-item.product-false
		a(href='#')
			img(src='./images/prod-05.jpg')
			| Хлеб "Деревенский", 500 г
		span.item_price 3004.68 руб.
		span.item_store Нет в наличии
	.title-search-separator

	+link-arrow({
		title: 'Показать все 250'
	})