.tooltip-parent {
  position: relative;

  @media (min-width: 1024px) {
    &:hover {
      .tooltip-2 {
        visibility: visible;
        height: auto;
        opacity: 1;
      }
    }
  }
}
.tooltip-2 {
  p {
    margin: 10px 0;
    font-size: 12px;
    line-height: 1.5;
  }
  @media (min-width: 1025px) {
    position: absolute;
    z-index: 2;
    top: 95%;
    left: 50%;
    visibility: hidden;
    width: 380px;
    height: 0;
    margin: 0 -200px;
    padding: 12px;
    transition: opacity .3s, visibility .3s, height .5s ease;
    opacity: 0;
    border-radius: 10px;
    background: #fcfcfc;
    box-shadow: 0px 3px 24px rgba(0, 0, 0, .08);
    font-size: 12px;
  }
  @media (max-width: 1024px) {
    margin-top: 20px;
  }
}
.tooltip-2.index-brand {
  @media (min-width: 1025px) {
    position: absolute;
    top: 95%;
    left: 50%;
    width: 785px;
    margin: 0;
    transform: translateX(-50%);
  }
  @media (max-width: 1024px) {
    margin-top: 20px;
  }
}
















// @import "../../../node_modules/bootstrap/scss/functions";
// @import "../../../node_modules/bootstrap/scss/variables";
// @import "../../../node_modules/bootstrap/scss/mixins";
// @import "../../../node_modules/bootstrap/scss/tooltip";

// @import '../../assets/css/common/components-import';

// .tt-trigger {
// 	display: inline-block;
// }

// .tt-content {
// 	font-size: 14px;
// 	font-weight: normal;
// 	font-stretch: normal;
// 	font-style: normal;
// 	line-height: 1.29;
// 	letter-spacing: normal;
// 	color: #ffffff;
// }

// .tooltip {
// 	&.show {
// 		opacity: 1;
// 		padding-bottom: 4px !important;
// 	}

// 	.tooltip-inner {
// 		background: rgb(199, 207, 208);
// 		padding: 4px;
// 		z-index: 1;
// 		position: relative;
// 		font-size: 8px;
// 		line-height: 12px;
// 		color: #FFFFFF;
// 		text-align: center;
// 	}

// 	.tooltip-title {
// 		display: block;
// 		width: 100%;
// 		font-weight: 500;
// 		text-align: center;
// 	}

// 	.arrow {
// 		width: 10px;
// 		height: 10px;
// 		z-index: 1;
// 		transform: rotate(45deg);
// 		background: rgb(199, 207, 208);

// 		&:before {
// 			content: unset!important;
// 		}
// 	}
// }
// .tooltip.tooltip--hover-off {
// 	pointer-events: none;
// }
// .bs-tooltip-auto[x-placement^=bottom] .arrow, .bs-tooltip-bottom .arrow {
// 	top: 4px !important;
// }

// .bs-tooltip-auto[x-placement^=top] .arrow, .bs-tooltip-top .arrow {
// 	bottom: 3px !important;
// }

// @media (max-width: 575px) {

// }

// @media (min-width: 576px) {

// }

// @media (min-width: 576px) and (max-width: 767px) {

// }

// @media (min-width: 768px) {

// }

// @media (min-width: 768px) and (max-width: 1023px) {

// }

// @media (min-width: 1024px) {
// 	.tooltip {
// 		.arrow {
// 			display: block;
// 		}

// 		&.show {
// 			opacity: 1;
// 			padding-bottom: 20px;
// 		}
// 	}
// }

// @media (min-width: 1024px) and (max-width: 1440px) {

// }

// @media (min-width: 1440px) {

// }
