@import 'src/assets/css/common/components-import';
.slider-contacts {
	padding: 10px 0 60px;
}

.swiper-contacts {
	.swiper-container {
		overflow: hidden;
		margin: 0;
		padding: 0;
		&:not(.swiper-container-initialized) {
			.swiper-slide {
				max-width: 340px;
				margin: 0 30px 0 0;
			}
		}
		@media (max-width: 575px) {
		}
	}
}