.map-wrap {
  position: relative;
}
.map {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 615px;
  @media (max-width: 768px) {
    position: relative;
    height: 560px;
  }
}