+include-style('index-about-us')
.index-about-us-wrap
	+lazy-img({
		img: 'images/plate.png',
		placeholder: pixel,
		img_mod: 'index-about-us-wrap__img',
		wrap_mod: 'index-about-us-wrap__img-wrap',
		link: false,
		aria_label: false,
	})
	.index-about-us
		+lazy-img({
			img: 'images/i-firm-block.svg',
			placeholder: pixel,
			img_mod: 'index-about-us__img',
			wrap_mod: 'index-about-us__img-wrap',
			link: false,
			aria_label: false,
		})
		.index-about-us__title О компании
		.index-about-us__body
			p Компания "БиоМельница" была организована 10.05.2018 года как стартап для внедрения и развития на территории Таможенного союза и Республики Беларусь ритейла био органических продуктов со смешанным ассортиментом.
			p 24 августа в Минске на пр.Победителей, 129-329, для покупателей открыл свои двери первый био маркет сети «Vёska».
			p В офлайн и интернет-магазине «Vёska» можно приобрести продукты питания, напитки, косметику, бытовые средства без химии, аксессуары и многое другое. Товары имеют международные сертификаты. Это самые строгие и престижные стандарты, которые гарантируют качество и чистоту всех входящих в состав ингредиентов. На плантациях не выращивают растения из генно-модифицированных семян, не используют «плохие» удобрения, в борьбе с вредителями помогают механические способы, все ингредиенты проверяют на отсутствие токсичности и биоразлагаемость. Кстати, это касается и упаковки.
		+link-arrow({
			title: 'Подробнее'
		})