+include-style('catalog-start')
+include-script('catalog-start')
.container
	.row
		.col-12.col-xl-8.offset-xl-2.col-lg-10.offset-lg-1.col-md-12
			+accordeon({
				class: "catalog-accordeon",
			})
				+accodeon-item({
					class: "active",
					head: '<div class="eco">Эко</div> еда',
					src: "images/catalog-01.jpg"
				})
				
					.catalog-menu
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Бакалея
							a(href="#" title="#" area-label="#").catalog-menu__item Мука
							a(href="#" title="#" area-label="#").catalog-menu__item Крупа и бобы
							a(href="#" title="#" area-label="#").catalog-menu__item Растительные протеины
							a(href="#" title="#" area-label="#").catalog-menu__item Сахар и подсластители
							a(href="#" title="#" area-label="#").catalog-menu__item Отруби и клетчатка
							a(href="#" title="#" area-label="#").catalog-menu__item Сахар и подсластители
							a(href="#" title="#" area-label="#").catalog-menu__item Отруби и клетчатка
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Паста, лапша
							a(href="#" title="#" area-label="#").catalog-menu__item Паста
							a(href="#" title="#" area-label="#").catalog-menu__item Лапша
						.catalog-menu__list.js-catalog-list 
							.catalog-menu__title Натуральные масла
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Консервированная продукция
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Оливки, маслины, тапенады
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло

						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Специии, cоусы, заправки
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Суперфуды
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло

							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Каши и завтраки
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Японская кухня
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерское мясо и птица
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерское молоко, творог
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерские овощи и фрукты
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
				
				+accodeon-item({
					head: "Эко дом",
					src: "images/catalog-03.jpg"
				})
					.catalog-menu
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Бакалея
							a(href="#" title="#" area-label="#").catalog-menu__item Мука
							a(href="#" title="#" area-label="#").catalog-menu__item Крупа и бобы
							a(href="#" title="#" area-label="#").catalog-menu__item Растительные протеины
							a(href="#" title="#" area-label="#").catalog-menu__item Сахар и подсластители
							a(href="#" title="#" area-label="#").catalog-menu__item Отруби и клетчатка
							a(href="#" title="#" area-label="#").catalog-menu__item Сахар и подсластители
							a(href="#" title="#" area-label="#").catalog-menu__item Отруби и клетчатка
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Паста, лапша
							a(href="#" title="#" area-label="#").catalog-menu__item Паста
							a(href="#" title="#" area-label="#").catalog-menu__item Лапша
						.catalog-menu__list.js-catalog-list 
							.catalog-menu__title Натуральные масла
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Консервированная продукция
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Оливки, маслины, тапенады
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло

						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Специии, cоусы, заправки
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Суперфуды
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло

							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Каши и завтраки
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Японская кухня
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерское мясо и птица
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерское молоко, творог
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерские овощи и фрукты
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
				+accodeon-item({
					head: "Детям",
					src: "images/catalog-02.jpg"
				})
					.catalog-menu
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Бакалея
							a(href="#" title="#" area-label="#").catalog-menu__item Мука
							a(href="#" title="#" area-label="#").catalog-menu__item Крупа и бобы
							a(href="#" title="#" area-label="#").catalog-menu__item Растительные протеины
							a(href="#" title="#" area-label="#").catalog-menu__item Сахар и подсластители
							a(href="#" title="#" area-label="#").catalog-menu__item Отруби и клетчатка
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Паста, лапша
							a(href="#" title="#" area-label="#").catalog-menu__item Паста
							a(href="#" title="#" area-label="#").catalog-menu__item Лапша
						.catalog-menu__list.js-catalog-list 
							.catalog-menu__title Натуральные масла
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Консервированная продукция
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Оливки, маслины, тапенады
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло

						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Специии, cоусы, заправки
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Суперфуды
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло

							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
							
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Каши и завтраки
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Японская кухня
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерское мясо и птица
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерское молоко, творог
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло
						.catalog-menu__list.js-catalog-list
							.catalog-menu__title Фермерские овощи и фрукты
							a(href="#" title="#" area-label="#").catalog-menu__item Оливковое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Миндальное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Какао масло
							a(href="#" title="#" area-label="#").catalog-menu__item Рапсовое масло
							a(href="#" title="#" area-label="#").catalog-menu__item Льняное масло
							a(href="#" title="#" area-label="#").catalog-menu__item Подсолнечное масло