.nav-compress {
  &:not(.compress-initialized) {
    overflow: hidden;
  }
}
.nav-lvl2-ajax {
  height: 55vh;
  background-image: url('data:image/svg+xml,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' width=\'1351\' height=\'174\' fill=\'none\'%3E%3Cdefs/%3E%3Cpath fill=\'%23EEE\' d=\'M1 1h300v27H1z\'/%3E%3Cpath fill=\'%23EEE\' fill-opacity=\'.5\' d=\'M0 46h299.631v20H0zM0 75h299.631v20H0zM0 104h299.631v20H0z\'/%3E%3Cpath fill=\'%23EEE\' d=\'M351 0h300v27H351z\'/%3E%3Cpath fill=\'%23EEE\' fill-opacity=\'.5\' d=\'M350 45h299.631v20H350zM350 74h299.631v20H350zM350 103h299.631v20H350z\'/%3E%3Cpath fill=\'%23EEE\' d=\'M701 0h300v27H701z\'/%3E%3Cpath fill=\'%23EEE\' fill-opacity=\'.5\' d=\'M700 45h299.631v20H700zM700 74h299.631v20H700zM700 103h299.631v20H700z\'/%3E%3Cpath fill=\'%23EEE\' d=\'M1051 0h300v27h-300z\'/%3E%3Cpath fill=\'%23EEE\' fill-opacity=\'.5\' d=\'M1050 45h299.631v20H1050zM1050 74h299.631v20H1050zM1050 103h299.631v20H1050z\'/%3E%3C/svg%3E');
  background-repeat: repeat-y;
  background-position: top center;
  background-size: 95%;
}
