+include-style('index-catalog-block')
.index-catalog-block
	.catalog-block
		.catalog-block__item.lazy-img(data-bg="url(images/i-salad.svg), linear-gradient(transparent, transparent)")
			a(href="#" aria-label='Еда').catalog-block__title Еда
			a(href="#" aria-label='Крупы').catalog-block__link Крупы
			a(href="#" aria-label='Морские водоросли').catalog-block__link Морские водоросли
			a(href="#" aria-label='Суперфуды').catalog-block__link Суперфуды
			a(href="#" aria-label='Натуральные масла').catalog-block__link Натуральные масла
			a(href="#" aria-label='Сыры, Козье молоко, Йогурты').catalog-block__link Сыры, Козье молоко, Йогурты
		.catalog-block__item.lazy-img(data-bg="url(images/i-face.svg), linear-gradient(transparent, transparent)")
			a(href="#" aria-label='Красота').catalog-block__title Красота
			a(href="#" aria-label='Декоративная косметика').catalog-block__link Декоративная косметика
			a(href="#" aria-label='Средства личной гигиены').catalog-block__link Средства личной гигиены
			a(href="#" aria-label='Для самых маленьких').catalog-block__link Для самых маленьких
			a(href="#" aria-label='Масла').catalog-block__link Масла
			a(href="#" aria-label='Мыло').catalog-block__link Мыло
		.catalog-block__item.lazy-img(data-bg="url(images/i-bottle.svg), linear-gradient(transparent, transparent)")
			a(href="#" aria-label='Бытовая химия').catalog-block__title Бытовая химия
			a(href="#" aria-label='Для стирки').catalog-block__link Для стирки
			a(href="#" aria-label='Для мытья посуды').catalog-block__link Для мытья посуды
			a(href="#" aria-label='Моющие и Чистящие средства').catalog-block__link Моющие и Чистящие средства
			a(href="#" aria-label='Для посудомоечных машин').catalog-block__link Для посудомоечных машин
			a(href="#" aria-label='Освежители, Ароматизаторы воздуха').catalog-block__link Освежители, Ароматизаторы воздуха
		a(href='/local/templates/html/catalog-start.html', aria-label='Весь каталог').catalog-branch
			span Весь каталог
			+icon('i-arrow-swiper')(style='width: 44px; height: 18px;')